@{
    ViewBag.Title = "About";

}


<link rel="stylesheet" type="text/css" href="~/UserStylesheet.css" />
<br />
<div class="jumbotron" style="background-image:url(/Image/best.jpg)">
    <a href="@Url.Action("Index", "Products")" title="List View" class="links">
    </a>

    <div>
        <h2 id="adc" style="text-align-last:right;color:seashell">Select a pizza of your choice </h2>
        <br />
        

        <br />  <br />
        <br />  <br /> <br />   <br />
        <br />  <br /> <br />     <br /> <br />
        <br /><br /> 

    </div>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="well" style="text-align:center">
    <h3> OUR MENU</h3>

</div>

<div class="row">
    <div class="col-md-4">

        <div class="thumbnail">
            <img src="~/Image/VEG_Pizza_Heading_image.jpg" alt="...">
            <div class="caption" id="cen">
                <h3>Veg Pizza</h3>
                <p>...</p>
                <p><a href="~/Home/Customize" class="btn btn-success" role="button" id="cen">Order now</a> </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Image/Non Veg PIzza Heading Image.jpg" alt="...">
            <div class="caption" id="cen">
                <h3>NonVeg Pizza</h3>
                <p>...</p>
                <p><a href="/Home/NonVegCustomize" class="btn btn-success" role="button">Order now</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Image/Peppy_Paneer_Pizza.jpg" alt="...">
            <div class="caption" id="cen">
                <h3>Special Pizza</h3>
                <p>...</p>
                <p><a href="/Home/NonVegCustomize" class="btn btn-success" role="button">Order now</a> </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Image/Veg_Extra_Vaganza.jpg" alt="...">
            <div class="caption" id="cen">
                <h3>Veg Extravaganza Pizza</h3>
                <p>...</p>
                <p><a href="/Home/Customize" class="btn btn-success" role="button">Order now</a> </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Image/CHEESE_N_CORN.jpg" alt="...">
            <div class="caption" id="cen">
                <h3>Cheese Pizza</h3>
                <p>...</p>
                <p><a href="/Home/Customize" class="btn btn-success" role="button">Order now</a> </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Image/CHICKEN FIESTA.jpg" alt="...">
            <div class="caption" id="cen">
                <h3>Chicken Pizza</h3>
                <p>...</p>
                <p><a href="/Home/NonVegCustomize" class="btn btn-success" role="button">Order now</a> </p>
            </div>
        </div>
    </div>
    </div>


