@{
    ViewBag.Title = "Home Page";
}


@*background-image:url(/Image/pizzeria.jpg)*@


<link rel="stylesheet" type="text/css" href="~/UserStylesheet.css" />

<div class="jumbotron" style="background-image:url(/Image/bgHome-min.jpg)" >
    <a href="@Url.Action("Index", "Products")" title="List View" class="links">
    </a>

    <div>
        <br />         <br />  <br />
        <br />  <br /> <br />   <br />
        <br />  <br /> <br />     <br /> <br />
        <br /><br />
        <h2 id="adc" style="color:white">Welcome to pizza's world  </h2>

        
        <h5 id="adc" style="color:white"> Take a tour </h5>l



    </div>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">

        <div class="thumbnail">
            <img src="~/Image/CHEESE_N_CORN.jpg" alt="...">
            <div class="caption" id="cen">
                <h3>Corn Pizza</h3>
                <p>...</p>
                <p><a href="/Home/About" class="btn btn-success" role="button" id="cen">Order now</a> </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Image/Paneer_Makhni.jpg" alt="...">
            <div class="caption" id="cen">
                <h3>Paneer Pizza</h3>
                <p>...</p>
                <p><a href="/Home/About" class="btn btn-success" role="button">Order now</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Image/CHICKEN FIESTA.jpg" alt="...">
            <div class="caption" id="cen">
                <h3>Chicken Fiesta Pizza</h3>
                <p>...</p>
                <p><a href="/Home/About" class="btn btn-success" role="button">Order now</a> </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Image/Peppy_Paneer_Pizza.jpg"  alt="...">
            <div class="caption" id="cen">
                <h3>Peppy Paneer Pizza</h3>
                <p>...</p>
                <p><a href="/Home/About" class="btn btn-success" role="button">Order now</a> </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Image/Veggie_Paradise.jpg" alt="...">
            <div class="caption" id="cen">
                <h3>Veggie Paradise Pizza</h3>
                <p>...</p>
                <p><a href="/Home/About" class="btn btn-success" role="button">Order now</a> </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Image/CHICKEN TIKKA.jpg" alt="...">
            <div class="caption" id="cen">
                <h3>Chiken Tikka Pizza</h3>
                <p>...</p>
                <p><a href="/Home/About" class="btn btn-success" role="button">Order now</a> </p>
            </div>
        </div>
    </div>

