@{
    ViewBag.Title = "Offers";
}

<link href="~/Styles/StyleSheet1.css" rel="stylesheet" />
<div class="col-md-12">
    <h2 class="h2_formatting"> Today's Everday Value Offers</h2>
</div>

<ul class="nav nav-tabs evd-nav-tabs" role="tablist">
    <li role="presentation" class="col-md-6 p-0 active">
        <a href="#pizzas-99" aria-controls="pizzas-99" role="tab" data-toggle="tab">
            Regular Pizzas  Starting at 99 Each
        </a>
    </li>
    <li class="col-md-6 p-0" role="presentation">
        <a href="#pizzas-199" aria-controls="pizzas-199" role="tab" data-toggle="tab">
            Medium Pizzas  Starting at 199 Each
        </a>
    </li>
</ul>

<div class="col-md-12 col-md-6">
    <div href="#pizzas-99" class="thumbnail" style="height:200px;width:500px;background-color:gainsboro">
        <div style="width:250px;height:150px;">
            <div class="col-sm-12 col-md-5">
                <img src="~/Image/CHEESE_N_CORN.jpg" width="100" ; />
            </div>
            <div class="col-md-5">
                <h5 style="color:cornflowerblue">
                    2 Cheese Pizzas at 99 each
                </h5>
                <p>
                    Select any 2 Cheese Regular
                    Pizzas Worth 99
                </p>
            </div>
            <br /><br />
            <div class="col-md-2">
                <button style="width:150px;height:50px;background-color:burlywood">Avail Now</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-md-6">

    <div href="#pizzas-99" class="thumbnail" style="height:200px;width:500px;background-color:gainsboro">
        <div style="width:250px;height:150px;">

            <div class="col-sm-12 col-md-5">
                <img src="~/Image/Deluxe_Veggie_Paneer_Pizza.jpg" width="100" ; />
            </div>
            <div class="col-md-5">
                <h5 style="color:cornflowerblue">
                    2 Deluxe Pizzas at 99 each
                </h5>
                <p>
                    Select any 2 Deluxe Regular
                    Pizzas Worth 99
                </p>
            </div>
            <br /><br />
            <div class="col-md-2">
                <button style="width:150px;height:50px;background-color:burlywood">Avail Now</button>
            </div>
        </div>
    </div>
</div>

<!------    adding few more classes from here-->
<div class="col-md-12 col-md-6">
    <div href="#pizzas-99" class="thumbnail" style="height:200px;width:500px;background-color:gainsboro">
        <div style="width:250px;height:150px;">

            <div class="col-sm-12 col-md-5">

                <img src="~/Image/Farm_House.jpg" width="100" ; />
            </div>
            <div class="col-md-5">
                <h5 style="color:cornflowerblue">
                    2 Farm Pizzas at 99 each
                </h5>
                <p>
                    Select any 2 Fram Regular
                    Pizzas Worth 99
                </p>
            </div>
            <br /><br />
            <div class="col-md-2">
                <button style="width:150px;height:50px;background-color:burlywood">Avail Now</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-md-6">
    <div href="#pizzas-99" class="thumbnail" style="height:200px;width:500px;background-color:gainsboro">
        <div style="width:250px;height:150px;">

            <div class="col-sm-12 col-md-5">
                <img src="~/Image/Mexican_Green_Wave.jpg" width="100" ; />
            </div>
            <div class="col-md-5">
                <h5 style="color:cornflowerblue">
                    2 Mexican Pizzas at 99 each
                </h5>
                <p>
                    Select any 2 Mexican Regular
                    Pizzas Worth 99
                </p>
            </div>
            <br /><br />
            <div class="col-md-2">
                <button style="width:150px;height:50px;background-color:burlywood">Avail Now</button>
            </div>
        </div>

    </div>
</div>

<div class="col-md-12 col-md-6">
    <div href="#pizzas-199" class="thumbnail" style="height:200px;width:500px;background-color:gainsboro">
        <div style="width:250px;height:150px;">

            <div class="col-sm-12 col-md-5">
                <img src="~/Image/Peppy_Paneer_Pizza.jpg" width="100" ; />

            </div>
            <div class="col-md-5">
                <h5 style="color:cornflowerblue">
                    2Paneer Pizzas at 99 each
                </h5>
                <p>
                    Select any 2Paneer Regular
                    Pizzas Worth 99
                </p>
            </div>
            <br /><br />
            <div class="col-md-2">
                <button style="width:150px;height:50px;background-color:burlywood">Avail Now</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-md-6">

    <div href="#pizzas-199" class="thumbnail" style="height:200px;width:500px;background-color:gainsboro">
        <div style="width:250px;height:150px;">

            <div class="col-sm-12 col-md-5">


                <img src="~/Image/Veggie_Paradise.jpg" width="100" ; />
            </div>
            <div class="col-md-5">
                <h5 style="color:cornflowerblue">
                    2VegParadise Pizzas at 199 each
                </h5>
                <p>
                    Select 2VegParadise Regular
                    Pizzas Worth 199
                </p>
            </div>
            <br /><br />
            <div class="col-md-2">
                <button style="width:150px;height:50px;background-color:burlywood ">Avail Now</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 padding-0-mob">
    <div class="padding-0-mob padding-top-15-mob col-lg-12">
        <div class="row">
            <div class="container container-cart new-cart">
                <h2 class="m-t-c mb-10">Everyday Value Offer</h2>
                <p class="break-line">Avail Pizzeria’s Everyday Value Offers and get 2 Regular Pizzas starting at Rs.99 each or get 2 Medium Pizzas starting at Rs.199 each. View all the Everyday Value Offers &amp; Pizza Deals below. T &amp; C apply.</p>
                <h2 class="m-t-c4">Terms &amp; Conditions:</h2>
                <ul class="my-terms-conditions my-color-li">
                    <li>No Coupon codes are required for this offer.</li>
                    <li>Offer applicable on selected items.</li>
                    <!--<li>Offer will be applied to prices of items within the cart. Taxes are not subject to discounts.</li>
                    <li>Offer not applicable on items already on discount.</li>-->
                    <li>Offer will not be applicable on Sides, Desserts and other Add-ons.</li>
                    <li>Offer cannot be clubbed with any other offer / scheme (such as Coupons / Pizza Mania).</li>
                    <li>Everyday Value Offer is only applicable when 2 Pizzas are selected from the options provided.</li>
                </ul>


                <br>
                <p class="overview">
                    Overview On A Few Features&nbsp;Of Dominos
                </p>
                <!--<p><strong>Endless Choices:</strong>
                </p>
                <p>Whether it’s a regular, medium, large or classic hand tossed pizza; there are many choices of pizza toppings available.</p>-->
                <p>
                    <strong>Pizzeria’s India Online Order is available all across India:</strong>
                </p>
                <p>Pizzeria’s India has over 1,100 outlets across the country, where online users can easily satisfy their cravings by locating the <a href="https://www.dominos.co.in/store-location/" target="_black"> nearest Pizzeria’s Pizza restaurants </a>in their city. Try the new Paneer Makhani Pizza or the Chicken Tikka Pizza, the latest additions to the Pizzeria’s Menu. Pizzeria’s is available in all the major cities including Delhi, Bangalore, Hyderabad, Pune, Mumbai and more.</p>
                <p>
                    <strong>Download Pizzeria’s Mobile App</strong>
                </p>
                <p><a href="https://play.google.com/store/apps/details?id=com.Pizzeria&amp;hl=en" target="_blank">Download the Pizzeria’s mobile application </a> now and enjoy delicious pizza anytime, anywhere you want.</p>

            </div>
        </div>
    </div>
</div>






